.fa-arrow-circle-o-left,
.fa-arrow-circle-o-right {
	font-size: 30px;
	color: black;
}

.grow {
	transition: all .2s ease-in-out;
	text-shadow: 0px 2px 10px gray;
}

.grow:hover {
	transform: scale(1.1);
	cursor: pointer;
	text-shadow: 0px 5px 10px #3d5c5c;
}

.nav-link-rotate {
	transition: all .2s ease-in-out;
}

.nav-link-rotate:hover {
	transform: scale(1.1) rotate(10deg);
	;
	cursor: pointer;
}


/*Testimonial*/

.testimonial {
	text-align: center;
}

.testimonial .pic {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	margin: 0 auto;
	margin-bottom: 15px;
}

.testimonial .pic img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.testimonial .testimonial-title {
	display: inline-block;
	font-size: 22px;
	font-weight: 600;
	color: #0c4767;
	margin: 0 0 70px 0;
}

.testimonial .testimonial-title small {
	font-size: 15px;
	font-weight: 600;
	color: #787878;
}

.testimonial .description {
	font-size: 14px;
	color: #787878;
	line-height: 27px;
	position: relative;
	margin: 0;
}

.quote {
	padding: 7px;
	border-radius: 50%;
	border: 2px solid #fa7921;
}

.demo {
	padding: 100px 0;
}

.heading-title {
	margin-bottom: 100px;
}

.testimonial .description:before font-family: fontawesome;
width: 35px;
height: 35px;
border-radius: 50%;
position: absolute;
top: -50px;
left: 46%;
font-size: 20px;
color: #fa7921;
line-height:33px;
border: 2px solid #fa7921;

}
.owl-theme .owl-controls .owl-page span {
	background: #fff;
	border: 2px solid #0c4767;
	opacity: 1;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls .owl-page:hover span {
	border: 2px solid #fa7921;
}
@charset "utf-8";

/* CSS Document */

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  color: black; /* Text color */
  border-radius: 50%; /* Rounded corners */
  font-size: 45px; /* Increase font size */
}

.cursor:hover {
  cursor: pointer; /* Add a mouse pointer on hover */
}


